<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="menu">

    <nav class="navbar navbar-light" style="background-color: #dea5a4;">

        <ul class="container-fluid nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>

    </nav>

</body>
</html>